

li, nav h1 {
    display: inline;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
}

footer {
    background-color: aliceblue;
    padding: 2em;
    text-align: center;
}


@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

li, nav h1 {
    display: inline;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    padding: 2em;
    background-color: rgb(217, 245, 248);
    border-radius: 20px;

    font-family: "Lilita One", sans-serif;
    font-weight: 100;
    font-style: normal;
}

footer {
    background-color: rgb(209, 243, 202);
    padding: 2em;
    text-align: center;
}

h2 {
    margin-top: 2em;
    margin-bottom: 2em;
}

h1 {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-right: 1em;
}

header {
    margin-top: 3em;
}
