
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lilita+One&display=swap');


main {
    text-align: center;
}

li.main_menu {
    display: inline;
}


ol, ul {
    font-size: 130%;
    text-align: left;
}
nav h1 {
    display: inline;
}

nav ul {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
}

nav a {
    text-decoration: none;

    font-family: "Abril Fatface", serif;
    font-weight: 20em;
    font-style: normal;
    font-size: 135%;

    color: #284d29;

    margin-right: 1em;
    margin-left: 1em;
}

a {
    font-size: 120%;
    text-decoration: none;
}


footer {

    background-image: url(./images/green-and-yellow-background-b126c6rdiq8upoqh.webp);
    padding: 2%;
    text-align: center;
    vertical-align: bottom;
    font-size: 130%;
}

h1 {
    text-decoration: none;

    font-family: "Abril Fatface", serif;
    font-weight: 20em;
    font-style: normal;
    font-size: 135%;

    color: rgb(21, 175, 26);

    margin-right: 1em;
    margin-left: 1em;
}

h2, h3 {
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    font-family: "Abril Fatface", serif;
    font-weight: 20em;
    font-style: normal;
    font-size: 170%;

    color: rgb(40, 77, 41);
}

h3 {
    font-size: 155%;
}

h4 {
    color: rgb(40, 77, 41);
    margin-top: 1em;
    margin-bottom: 0em;
    text-align: center;
    font-family: "Abril Fatface", serif;
    font-weight: 20em;
    font-style: normal;
}


header {
    padding: 1em;
    background-image: url(./images/green-and-yellow-background-b126c6rdiq8upoqh.webp);
}

img {
    
    width: 90%;
    padding: 1em;
    background-image: url(./images/green-and-yellow-background-b126c6rdiq8upoqh.webp);
    margin-bottom: 1em;
    margin-top: 2em;
}

table {
    width: 50%;
    text-align: center;
    margin-left: 25%;
    margin-bottom: 3em;
    margin-top: 1,5em;
    background-image: url(./images/green-and-yellow-background-b126c6rdiq8upoqh.webp);
    color: rgb(40, 77, 41);
    font-size: 135%;
}

pre {
    font-size: 125%;
    text-align: left;
}

p {
    font-size: 130%;
    margin-top: 0%;
    margin-bottom: 0%;
}

figcaption {
    text-align: center;
    font-size: 100%;
    margin-bottom: 2em;
}

body {
    background-color: #f5ffe2;
    margin: 0%;
}

div.hidden_div {
    display: none;
}

div.visible_div {
    display: initial;
}

button {
    font-size: 0.1em;
    margin-top: 0%;
}
